<% for(var i=0; i<menus.length; i++){ %>
<tr>
    <td><%= i+1 %></td>
    <td><%= menus[i].fName %></td>
    <td><%= menus[i].fType %></td>
    <td><%= menus[i].fPrice %></td>
    <td class="delete" data-id="<%= menus[i]._id %>"><i class="fi fi-ss-trash"></i></td>
</tr>
<% } %>